@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #fff59d;
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


/* Animaciones */

  section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  section h2{
    width: 100%;
    color: #999;
    font-family: Arial, Helvetica, Verdana;
  }
  .card{
    width: 31.111111%;
  }

/* Estilos */

  .estilo-c{
    font-family: Arial, Helvetica, Verdana;
    width: 30%;
  }
  .estilo-c .img-container{
    overflow: hidden;
    height: 250px;
    position: relative;
    border-radius: 15px;
  }
  .estilo-c .img-container img{
    width: 105%;
    position: absolute;
    top: -60%;
    transition: all 0.5s;
  }
  .estilo-c:hover .img-container img{
    transform: scale(1.2);
  }
  .estilo-c .img-container .promo{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: yellow;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .estilo-c .info-container h3{
    margin: 0;
  }
  .estilo-c .info-container h3,
  .estilo-c .info-container strong,
  .estilo-c .info-container span{
    padding: 5px 15px;
    width: 100%;
  }
  .estilo-c .add-cart{
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
  }
  .estilo-c .add-cart:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
  }

