@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #eceff1;
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50%;
}
.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

/* Sobre Nosotros*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.nosotros-info {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nosotros-img {
  width: 80%;
  max-width: 300px;
}

.nosotros-img-section {
  position: relative;
}

.nosotros-img-line {
  background-color: var(--secundary-color);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.nosotros {
  text-align: center;
}

.nosotros-title {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  color: #1b3039;
  font-family: "Nunito", sans-serif;
}

.nosotros-details {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 450px;
  margin: 20px auto;
}

.nosoton{
    margin-left: 20px;
    font-weight: 700;
    color: #e2f1f8;
    padding: 9px 25px;
    background: #1b3039;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nosoton:hover {
    background-color: #1b3039;
    color: #e2f1f8;
    transform: scale(1.1);
}

@media (min-width: 950px) {
  .nosotros-info {
    margin-bottom: 0px;
  }
  
  .nosotros-img {
    width: 100%;
    max-width: 350px;
    transform: scaleX(-1);
  }
  
  .nosotros {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
  }
  
  .nosotros-title {
    font-size: 60px;
  }
  
  .nosotros-details {
    font-size: 25px;
    margin: 30px 0;
  }
  
  .nosoton-btn {
    margin-left: 20px;
    font-weight: 700;
    color: #e2f1f8;
    padding: 9px 25px;
    background: #1b3039;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}

/* Animaciones */
  

  section{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    overflow: auto;
  }
  section h2{
    width: 100%;
    color: #999;
    font-family: Arial, Helvetica, Verdana;
  }
  .card{
    width: 31.111111%;
  }
  
/* Estilos */
section iframe{
display: flex;
overflow: auto
}
  .estilo-c{
    font-family: Arial, Helvetica, Verdana;
    width: 30%;
  }
  .estilo-c .img-container{
    overflow: hidden;
    height: 250px;
    position: relative;
    border-radius: 15px;
  }
  .estilo-c .img-container img{
    width: 105%;
    position: absolute;
    top: -60%;
    transition: all 0.5s;
  }
  .estilo-c:hover .img-container img{
    transform: scale(1.2);
  }
  .estilo-c .img-container .promo{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: yellow;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .estilo-c .info-container h3{
    margin: 0;
  }
  .estilo-c .info-container h3,
  .estilo-c .info-container strong,
  .estilo-c .info-container span{
    padding: 5px 15px;
    width: 100%;
  }
  .estilo-c .add-cart{
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
  }
  .estilo-c .add-cart:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
  }

